{% extends "base.twig" %}

{% block content %}
    <div class="container mx-auto">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <img src="{{ post.thumbnail.src|resize(1200, 300) }}">
            <section>
                <h1>{{ post.title }}</h1>
                <a href="{{ post.link }}">{{ _e('edit') }}</a>
                <p>
                    <span>By</span>
                    <a href="{{post.author.path}}">
                        {{ post.author.name }}
                    </a>
                    <span>&bull;</span>
                    {{ post.date }}
                </p>
                <div>
                    {{post.content}}
                </div>
            </section>

            <!-- comment box -->
            <section>
                <!-- comments -->
                <div>
                    {% if post.comments %}
                        <h3>
                            comments
                        </h3>
                        {% for cmt in post.comments %}
                            {% include "comment.twig" with {
                                comment : cmt
                            } %}
                        {% endfor %}
                    {% endif %}
                </div>

                {% if post.comment_status == "closed" %}
                    <p>
                        comments for this post are closed
                    </p>
                {% else %}
                    <!-- comment form -->
                    {% include "comment-form.twig" %}
                {% endif %}
            </section>
        </article>
    </div>
    <!-- /content-wrapper -->
{% endblock %}